@import "~bootstrap/scss/bootstrap";
@import "reset";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar {
  &__register {
    margin-left: 20px;
  }
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  &__btn {
    margin-top: 30px;
  }
}

.alert {
  position: absolute;
  right: 20px;
  z-index: 999;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #343a40 !important;
  padding: 20px;
  color: #fff;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.load-box {
  width: 100%;
  height: 100%;
  position: fixed;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  z-index: 1;

  .loader {
    animation:spin 1s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#09f;
    border-top-color:#09f;
    box-sizing:border-box;
    height:20vmin;
    left:calc(50% - 10vmin);
    position:fixed;
    top:calc(50% - 10vmin);
    width:20vmin;
    z-index:1;
    &:before {
      animation:spin 2s infinite linear;
      border:solid 2vmin transparent;
      border-radius:50%;
      border-right-color:#3cf;
      border-top-color:#3cf;
      box-sizing:border-box;
      content:"";
      height:16vmin;
      left:0;
      position:absolute;
      top:0;
      width:16vmin;
    }
    &:after {
      animation:spin 3s infinite linear;
      border:solid 2vmin transparent;
      border-radius:50%;
      border-right-color:#6ff;
      border-top-color:#6ff;
      box-sizing:border-box;
      content:"";
      height:12vmin;
      left:2vmin;
      position:absolute;
      top:2vmin;
      width:12vmin;
    }
  }

  @keyframes spin {
    100% {
      transform:rotate(360deg);
    }
  }
}