.form-auth {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  padding: 20px 30px;
  border: .2rem solid #ececec;
  border-radius: 10px;
  text-align: center;
}